<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{docTitle}}</title>
    {{#if pageIndex}}
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {{else if pageAbout}}
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {{else if page404}}
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {{/if}}
</head>
<body class="main">
    <h1 class="heading">Welcome to Express-Handlebars</h1>
    {{{body}}}

</body>
</html>